[user]
	name = m19cmjigen
	email = m19cmjigen@gmail.com
	mail = m19cmjigen@gmail.com
[core]
	safecrlf = true
	autoCRLF = false
	editor = vim
	excludesfile = /Users/m19cmjigen/.gitignore_global
    autoCRLF = false
[color]
	ui = auto
[credential]
	helper = osxkeychain
[push]
	default = matching
[merge]
	tool = vimdiff
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
