[user]
	name = m19cmjigen
	email = m19cmjigen@gmail.com
	mail = m19cmjigen@gmail.com
[core]
	safecrlf = true
	autocrlf = input
	editor = vim
[color]
	ui = auto
[credential]
	helper = osxkeychain
[push]
	default = matching
[merge]
	tool = vimdiff3 
